{% extends 'ProjetAdminBundle:Layout:base.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="container">
		<h2>Liste des Categories,<small> Nombre egal a: {{ liste|length }}</small></h2>
		<a href="{{ path('Ajout_categorie') }}" class="btn btn-info">Ajouter nouvelle categorie</a>
		
		{% for flashMessage in app.session.flashbag.get('erreur') %}
		    <div class="alert bg-warning">
		      <button type="button" class="close" data-dismiss="alert">&times;</button>
		      <strong>{{ flashMessage }}</strong>
		    </div>
		{% endfor %}
		
		{% for DbalflashMessage in app.session.flashbag.get('dbal-erreur') %}
		    <div class="alert bg-warning">
		      <button type="button" class="close" data-dismiss="alert">&times;</button>
		      {{ DbalflashMessage|raw }}
		    </div>
		{% endfor %}
		
	</div>
	<div class="container">
		<br/>
		Filtrer par libelle du produit: <input type='text' id='search-cat'>
		<br />
		<br />
		<div id="contenu-cat">
			<table class="table table-bordered table-hover table-striped sortable" id="liste_cat">
				<thead>
					<tr>
						<td><strong>#</strong></td>
						<td><strong>Libelle</strong></td>
					</tr>
				</thead>
				<tbody>
					{% for categorie in pagination %}
						<tr>
							<td>{{ categorie.id }}</td>
							<td>
								<div class="row">
									<div class="col-md-8">
										{{ categorie.libelle }}
									</div>
									<div class="col-md-2">
										<a href="{{ path('Maj_categorie', {'id' : categorie.id}) }}">Modifier</a>
									</div>
									<div class="col-md-2">
										<a href="{{ path('Spr_categorie', {'id' : categorie.id}) }}">Supprimer</a>
									</div>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div>
			    {{ knp_pagination_render(pagination) }}
			</div>
		</div>
		
		
	</div>
	{# display navigation #}
{% endblock %}
